[core]
#您可以在此处编写数据。
strictLevel:0
[global_resource_红宝石]
hidden:false
displayName:红宝石
displayNameShort:红宝石
displayColor:#FF0FCF
priority:1
displayRoundedDown:true
displayWhenZero:false
[global_resource_电力]
hidden:false
displayName:电力
displayNameShort:电力
displayColor:#00BFFF
priority:1
displayRoundedDown:true
displayWhenZero:false